@import 'colors';

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	background-color: $Light-gray;
}

body {
	font-family: 'Outfit', sans-serif;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

main {
	margin: auto 0;
	background-color: $White;
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 20rem;
	padding: 1rem;
	border-radius: 1.25rem;
	box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);

	img {
		max-width: 100%;
		border-radius: 0.75rem;
	}

	h1{
		color: $Dark-blue;
		font-size: 1.25rem;
		
	}

	p{
		font-size: 15px;
	}
}

.card-text {
	margin: 1rem 0.75rem 0.75rem 0.75rem ;
	text-align: center;
	font-size: 0.9375rem;
	
	p {
		margin-top: 1rem;
		color: $Grayish-blue;
	}
}

footer{
	
	
	text-align: center;

	

	a {
		color: hsl(228, 45%, 44%);
	}
}

